package pages

import (
	"github.com/Constellation-Overwatch/constellation-overwatch/pkg/services/web/features/common/layouts"
	"github.com/Constellation-Overwatch/constellation-overwatch/pkg/services/web/features/common/components"
	metrics "github.com/Constellation-Overwatch/constellation-overwatch/pkg/services/web/features/metrics/components"
)

templ MetricsPage() {
	@layouts.BaseWithStyles("Metrics", []string{"/static/css/metrics.css"}) {
		@components.Navigation("metrics") {
			<div class="tab-content">
				@metrics.MetricsPanel()
			</div>
		}
	}
}
